*.css linguist-language=javascript
*.html linguist-language=javascript
*.json linguist-language=javascript
*.svg linguist-language=javascript

*.jsp linguist-language=java
*.properties linguist-language=java
*.xml linguist-language=java
