*.js linguist-language=javascript
*.css linguist-language=javascript
*.html linguist-language=javascript
*.json linguist-language=javascript

*.java linguist-language=java
*.jsp linguist-language=java
*.properties linguist-language=java
*.xml linguist-language=java

*.sql linguist-language=sql
*.sh linguist-language=shell

src/main/webapp/res/bootstrap-3.3.7-dist/* linguist-vendored
static/* linguist-vendored
