<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Quarusis|InChat</title>
        
        <!-- 引用本地资源 -->
        <link rel="stylesheet"
            href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" 
            href="/static/css/style.css">
        <script
            src="/static/js/jquery.min.js"></script>
        <script
            src="/static/js/bootstrap.min.js"></script>

    </head>
    <body  data-spy="scroll" data-target=".navbar" data-offset="50">

        <div id="Welcome" class="container-fluid">
            <div class="container">
                <div class="jumbotron">
                    <h2 align="left">
                        <font color="#FEFEFE">Welcome InChat </font>
                        <span class="glyphicon glyphicon-comment" style="color:white;"/>
                    </h2>
                </div>
            </div>
        </div>

        <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-home"></span> Quarusis | InChat
                    <span id="status" style="float:right"></span>
                </h3>
            </div>
            <div class="panel-body">

                <div style="overflow-x:hidden; overflow-y:hidden;">
                    <div id="historyMsg">
                        <div id="barrage"></div>
                    </div>
                </div>

                <div class="controls" >
                    <button type="button" class="btn btn-default" title="emoji" id="emoji">
                        <span class="glyphicon glyphicon-thumbs-up"></span> emoji
                    </button>
                    <br>
                    <textarea class="form-control" rows="3" id="messageInput" placeHolder="请输入您需要发送的消息"></textarea>
                    <br>
                    <button type="button" class="btn btn-primary" style="float:right;" id="sendBtn">
                         <span class="glyphicon glyphicon-bullhorn"></span> Send
                    </button>
                    <div id="emojiWrapper"></div>
                </div>

            </div>
        </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="../dist/app.bundle.js"></script>
        
    </body>
</html>
